.flame-path {
    stroke-dasharray: 2, 0; /* Initial dash pattern */
    stroke-dashoffset: 0;
    /* fill: var(--color-primary-light); Fallback fill */
    transition: fill 0.3s ease;
}

.flame-container:hover .flame-path,
.card:hover .flame-path
{
    animation: flicker 1.2s ease-in-out forwards;
}

@keyframes flicker {
    0%, 100% {
        stroke-dasharray: 2, 5;
        opacity: 1;
        fill: transparent;
        stroke: url(#triangleGradient);
        /* fill: url(#triangleGradient); */
    }
    100% {
        stroke-dasharray: 20, 2;
        stroke-width: 0;
        fill: url(#triangleGradient);
    }
}