.resume-section:hover .flame-path {
    animation: flickerFlame .2s ease 0s infinite alternate,
            moveFlame .4s ease 0s infinite alternate;
    transform-origin: bottom center;
}

@keyframes flickerFlame {
    0% {
        fill-opacity: .8;
    } 100% {
        fill-opacity: 1;
    }
}

@keyframes moveFlame {
    0% {
        transform: rotate(1deg);
    } 100% {
        transform: rotate(-1deg);
    }
}