.card-animated {
    --line-width: 1px;
    --line-color: #adbbff;
    --start-angle: 0deg;
    --delay: 0s;
    --easing: linear;
    position: relative;
    perspective: 1000px;
}

.corner-dots {
    --dot-color: rgba(209, 228, 250, 0.7);
    --dot-size: 4px;
    content: "";
    position: absolute;
    inset: 16px;
    pointer-events: none;
    filter: drop-shadow(0 0 8px rgba(209, 228, 250, 1));
    background-image:
        radial-gradient(var(--dot-color) 50%, transparent 50%),
        radial-gradient(var(--dot-color) 50%, transparent 50%),
        radial-gradient(var(--dot-color) 50%, transparent 50%),
        radial-gradient(var(--dot-color) 50%, transparent 50%);
    background-size:
        var(--dot-size) var(--dot-size),
        var(--dot-size) var(--dot-size),
        var(--dot-size) var(--dot-size),
        var(--dot-size) var(--dot-size);
    background-position:
        0 0,
        100% 0,
        0 100%,
        100% 100%;
    background-repeat: no-repeat;
}

.card-animated::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 1px solid rgba(186, 207, 247, 0.12);
    pointer-events: none;
}

.card-heading-text::before {
    content: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
    position: absolute;
    z-index: 0;
    /* top: -2px; */
    right: 0;
    left: 0;
    width: 100%;
    color: transparent;
    display: inline-block;
    text-decoration-style: wavy;
    text-decoration-color: var(--foreground);
    text-decoration-line: underline;
    opacity: 0;
    will-change: opacity;
    /* filter: drop-shadow(0px 0px 0px var(--foreground)); */
}

.card-container:hover .card-heading-text::before {
    animation: wavyAnimation 2s linear infinite;
    opacity: 1;
}

.card-container {
    animation: fadeIn .8s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes wavyAnimation {
    0% {
        transform: translate3d(-1px, 0, 0);
    } 100% {
        transform: translate3d(-40px, 0, 0);
    }
}