.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, minmax(0, 1fr));
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 8px;
    /* grid-auto-flow: row; */
    padding: 12px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    grid-template-areas:
        "about-section techstack-section techstack-section techstack-section experience-section"
        "about-section hero-section hero-section hero-section experience-section"
        "education-section hero-section hero-section hero-section experience-section"
        "education-section contact-section mid-split project-section project-section"
        "education-section contact-section mid-split project-section project-section";
    justify-content: space-evenly;
}

.techstack-section {
    grid-area: techstack-section;
}

.experience-section {
    grid-area: experience-section;
}

.hero-section {
    grid-area: hero-section;
}

.project-section {
    grid-area: project-section;
}

.contact-section {
    grid-area: education-section;

}

.about-section {
    grid-area: about-section;
}

.education-section {
    grid-area: contact-section;

}

.mid-split {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
        "resume-section resume-section resume-section"
        "social-section social-section social-section";
    grid-area: mid-split;
}

.resume-section {
    grid-area: resume-section;
}

.social-section {
    grid-area: social-section;
}

@media (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 8px;
        /* grid-auto-flow: row; */
        padding: 12px;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        grid-template-areas:
            "about-section about-section education-section education-section experience-section experience-section"
            "about-section about-section education-section education-section experience-section experience-section"
            "mid-split mid-split hero-section hero-section experience-section experience-section"
            "mid-split mid-split hero-section hero-section techstack-section techstack-section"
            "contact-section contact-section contact-section project-section project-section project-section"
            "contact-section contact-section contact-section project-section project-section project-section";
    }

    .hero-section {
        grid-area: hero-section;
    }

    .mid-split {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "resume-section"
            "social-section";
        grid-area: mid-split;
    }

    .resume-section {
        grid-area: resume-section;
    }

    .social-section {
        grid-area: social-section;
    }

    .about-section {
        grid-area: about-section;
    }

    .contact-section {
        grid-area: contact-section;
    }

    .project-section {
        grid-area: project-section;
    }

    .education-section {
        grid-area: education-section;
    }

    .experience-section {
        grid-area: experience-section;
    }

    .techstack-section {
        grid-area: techstack-section;
    }

}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        grid-auto-flow: dense;
        overflow-y: auto;
        padding: 12px;
        gap: 8px;
    }

    .mid-split {
        display: contents;
    }

    .hero-section {
        order: 1;
    }

    .about-section {
        order: 2;
    }

    .techstack-section {
        order: 3;
    }

    .experience-section {
        order: 4;
    }

    .resume-section {
        order: 5;
    }

    .education-section {
        order: 6;
    }

    .project-section {
        order: 7;
    }

    .contact-section {
        order: 8;
    }

    .social-section {
        order: 9;
    }

    .container>* {
        width: 100%;
        min-height: auto;
    }

    .container>div:not(.mid-split) {
        grid-area: auto !important;
    }
}